*{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
body {
	padding: 20px;
	position: relative;
}
.box {
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
}
p {
	clear: both;
}
ul {
	list-style: none;
	border: 1px solid #ccc;
}
button {
	padding: 5px;
}
input[type="reset"] {
	padding: 5px;
}
ul.ul > div {
	margin-left: 20px;
}
ul li {
	padding: 5px;
	border: 1px solid #ccc;
	border-right: none;
	border-left: none;
	margin-bottom: 0;
}
ul.sub-ul {
	margin-left: 20px;
}
.active {
	background: red;
	border: 1px solid red;
}
.main {
	float: left;
}
#boxGroup {
	overflow: hidden;
}

/** 
 * commander
 */
.commander {
	width: 500px;
	float: right;
}
.commander a {
	display: inline-block;
	padding: 5px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.commander a:hover {
	text-decoration: underline;
}
.commander .show {
	padding: 5px;
	position: absolute;
	border: 1px solid #ccc;
	background: rgba(0,0,0,.7);
	color: #fff;
	max-width: 300px;
	font-size: 12px;
	line-height: 20px;
	display: none;
}

/**
 * form-group
 */
#form-group {
	border: 1px solid #ccc;
}